<h2>Reactive Validations</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">
      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            placeholder="Nombre y Apellido del usuario"
            formControlName="name"
          />
          <span *ngIf="isInvalidField('name')" class="form-text text-danger"
            >Debe de ser con formato de nombre y apellido</span
          >
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="email"
            placeholder="Email del usuario"
            formControlName="email"
          />
          <span *ngIf="isInvalidField('email')" class="form-text text-danger">
            {{ emailErrorMsg }}
          </span>
          <!-- <span *ngIf="emailRequired()" class="form-text text-danger"
            >El email es requerido</span
          >
          <span *ngIf="emailFormat()" class="form-text text-danger"
            >El email tiene un formato erróneo</span
          >
          <span *ngIf="emailExists()" class="form-text text-danger"
            >El email ya existe, utilice otro</span
          > -->
        </div>
      </div>

      <!-- UserName -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            placeholder="Nombre código del usuario"
            formControlName="username"
          />
          <span *ngIf="isInvalidField('username')" class="form-text text-danger"
            >El username no puede ser karlux</span
          >
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="password"
            placeholder="Password del usuario"
            formControlName="pass"
          />
          <span *ngIf="isInvalidField('pass')" class="form-text text-danger"
            >El password debe ser mayor o igual a 6 caracteres</span
          >
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="password"
            placeholder="Confirmar Password del usuario"
            formControlName="pass2"
          />
          <span *ngIf="isInvalidField('pass2')" class="form-text text-danger"
            >Los passwords no coinciden</span
          >
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="myForm.pending"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid: {{ myForm.valid }}</h2>
<h2>Form Status: {{ myForm.status }}</h2>
<h2>Form Pending: {{ myForm.pending }}</h2>
<h2>Form Errors</h2>
<pre>{{ myForm.errors | json }}</pre>
<h5>Nombre</h5>
<pre>{{ myForm.controls["name"].errors | json }}</pre>
<h5>Email</h5>
<pre>{{ myForm.controls["email"].errors | json }}</pre>
<h5>Username</h5>
<pre>{{ myForm.controls["username"].errors | json }}</pre>
<h5>Password</h5>
<pre>{{ myForm.controls["pass"].errors | json }}</pre>
<h5>Password2</h5>
<pre>{{ myForm.controls["pass2"].errors | json }}</pre>
